<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="denso_robot_arm_kinematics" params="namespace model parent *origin">

		<joint name="${namespace}joint_w" type="fixed">
			<xacro:insert_block name="origin"  />
			<parent link="${parent}" />
			<child link="${namespace}base_link" />
		</joint>

		<link name="${namespace}base_link">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/base_link.dae" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/base_link.dae" scale="1 1 1" />
				</geometry>
			</collision>
			<inertial>
				<mass value="1" />
				<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
			</inertial>
		</link>

		<link name="${namespace}J1">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J1.dae" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J1.dae" scale="1 1 1" />
				</geometry>
			</collision>
			<inertial>
				<mass value="1" />
				<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
			</inertial>
		</link>
		<joint name="${namespace}joint_1" type="revolute">
			<parent link="${namespace}base_link" />
			<child link="${namespace}J1" />
			<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.181500" />
			<axis xyz="-0.000000 -0.000000 1.000000" />
      		<!-- effort value is arbitary for make gazebo simulation runs without problems -->
			<limit effort="175" lower="${radians(-170)}" upper="${radians(170)}" velocity="${radians(425)}" />
			<dynamics damping="0" friction="0" />
		</joint>

		<link name="${namespace}J2">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J2.dae" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J2.dae" scale="1 1 1" />
				</geometry>
			</collision>
			<inertial>
				<mass value="1" />
				<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
			</inertial>
		</link>
		<joint name="${namespace}joint_2" type="revolute">
			<parent link="${namespace}J1" />
			<child link="${namespace}J2" />
			<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.163500" />
			<axis xyz="-0.000000 1.000000 -0.000000" />
      		<!-- effort value is arbitary for make gazebo simulation runs without problems -->
			<limit effort="175" lower="${radians(-120)}" upper="${radians(120)}" velocity="${radians(340)}" />
			<dynamics damping="0" friction="0" />
		</joint>

		<link name="${namespace}J3">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J3.dae" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J3.dae" scale="1 1 1" />
				</geometry>
			</collision>
			<inertial>
				<mass value="1" />
				<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
			</inertial>
		</link>
		<joint name="${namespace}joint_3" type="revolute">
			<parent link="${namespace}J2" />
			<child link="${namespace}J3" />
			<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.250000" />
			<axis xyz="-0.000000 1.000000 -0.000000" />
      		<!-- effort value is arbitary for make gazebo simulation runs without problems -->
			<limit effort="175" lower="${radians(-120)}" upper="${radians(151)}" velocity="${radians(385.72)}" />
			<dynamics damping="0" friction="0" />
		</joint>

		<link name="${namespace}J4">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J4.dae" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J4.dae" scale="1 1 1" />
				</geometry>
			</collision>
			<inertial>
				<mass value="1" />
				<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
			</inertial>
		</link>
		<joint name="${namespace}joint_4" type="revolute">
			<parent link="${namespace}J3" />
			<child link="${namespace}J4" />
			<origin rpy="0.000000 0.000000 0.000000" xyz="-0.010000 0.000000 0.119500" />
			<axis xyz="-0.000000 -0.000000 1.000000" />
			<!-- effort value is arbitary for make gazebo simulation runs without problems -->
			<limit effort="175" lower="${radians(-270)}" upper="${radians(270)}" velocity="${radians(425)}" />
			<dynamics damping="0" friction="0" />
		</joint>

		<link name="${namespace}J5">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J5.dae" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J5.dae" scale="1 1 1" />
				</geometry>
			</collision>
			<inertial>
				<mass value="1" />
				<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
			</inertial>
		</link>
		<joint name="${namespace}joint_5" type="revolute">
			<parent link="${namespace}J4" />
			<child link="${namespace}J5" />
			<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.135500" />
			<axis xyz="-0.000000 1.000000 -0.000000" />
			<!-- effort value is arbitary for make gazebo simulation runs without problems -->
			<limit effort="175" lower="${radians(-120)}" upper="${radians(120)}" velocity="${radians(327.01)}" />
			<dynamics damping="0" friction="0" />
		</joint>

		<link name="${namespace}J6">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J6.dae" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J6.dae" scale="1 1 1" />
				</geometry>
			</collision>
			<inertial>
				<mass value="1" />
				<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
			</inertial>
		</link>
		<joint name="${namespace}joint_6" type="revolute">
			<parent link="${namespace}J5" />
			<child link="${namespace}J6" />
			<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.070000" />
			<axis xyz="-0.000000 -0.000000 1.000000" />
			<!-- effort value is arbitary for make gazebo simulation runs without problems -->
			<limit effort="175" lower="${radians(-360)}" upper="${radians(360)}" velocity="${radians(680)}" />
			<dynamics damping="0" friction="0" />
		</joint>

		<link name="${namespace}flange"/>
		<joint name="${namespace}J6-flange" type="fixed">
			<parent link="${namespace}J6"/>
			<child link="${namespace}flange"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</joint>

		<link name="${namespace}tool0"/>
		<joint name="${namespace}J6-tool0" type="fixed">
			<parent link="${namespace}J6"/>
			<child link="${namespace}tool0"/>
			<origin rpy="${pi} ${-pi/2} 0" xyz="0 0 0"/>
		</joint>
	</xacro:macro>
</robot>